form{
    background-color: #C8DBFE;
}
#table{
    height:285px ;
    margin-top: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#table2{
    
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 100px;
}
.table1{
    padding-right: 10px;
    padding-left:10px;
}




